* {
  box-sizing: border-box;
}

.center-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vertical-box {
  display: flex;
  flex-direction: column;
  gap: 5px;
  /* align-items: center; */
}
